{% extends 'base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block content %}
<div class="page-header">
    <h1>SimpleFAQ</h1>
</div>
{% bootstrap_messages %}
{% for q in questions %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ q.title }}</h3>
        </div>
        <div class="panel-body">
            <p>{{ q.text }}</p>
            {% if q.image %}<div><img src="{{ q.image.url }}" alt=""></div>{% endif %}
            <p><em>Posté <span title="{{ q.publish_date }}">{{ q.publish_date | naturaltime }}</span></em></p>
            <div class="well well-sm">
                <p><em>{{ q.answer.author }} a répondu <span title="{{ q.answer.publish_date }}">{{ q.answer.publish_date | naturaltime }}</span>.</em></p>
                <p>{{ q.answer.text }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="row text-center">
    {% bootstrap_pagination questions %}
</div>

{% if form %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Posez votre question</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Soumettre" /></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}